.html,
body {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.habit-button {
    background-color: #1C8CD6;
    max-width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.habit-button:hover {
    background-color: #1E40AF;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.habit-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

.habit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habit-form-h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #121417;
    margin-bottom: 50px;
}

.habit-form-label {
    margin-bottom: 10px;
    text-align: left;
    color: #121417;
    font-size: 16px;
}

.habit-input,
.habit-select {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 200px;
    width: 400px;
    height: 56px;
    margin-top: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.habit-button-form {
    padding: 10px 20px;
    width: 400px;
    height: 50px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-align: center;
}

.habit-button-form {
    background-color: #fff;
    border: 1px solid #1c8cd6;
    color: #1c8cd6;
}

.habit-button-form:last-child {
    background-color: #1C8CD6;
    color: white;
}

.habit-button-form:hover {
    opacity: 0.8;
}

.success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    z-index: 1000;
    animation: fade-in-out 3s ease-in-out;
}

.error-message {
    margin-bottom: 10px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.calendar-container {
    font-family: "Arial", sans-serif;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 300px;
    padding: 0;
    box-sizing: border-box;
}

.header-calendar {
    position: absolute;
    top: 20%;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 100px;
    display: flex;
    padding-left: 25px;
    align-items: center;
    margin-bottom: 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #121417;
    padding-left: 30px;
    padding-right: 30px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.arrow-button:hover {
    opacity: 0.6;
}

.calendar-week {
    position: absolute;
    top: 37%;
    left: 0;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-width: 100px;
}

.day-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
}

.day-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.day-title {
    font-size: 1em;
    font-weight: bold;
}

.day-dot {
    align-items: flex-start;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 40px;
}

.day-date {
    margin-left: 18px;
    font-size: 0.9em;
    color: #333;
}

.habit-list-calendar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 5px;
}

.habit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    margin: 5px 0;
}

.habit-list {
    margin-left: 1rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    color: #121417;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    list-style-type: none;
}

.habit-list-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.habit-label {
    flex-grow: 1;
    text-align: left;
    min-width: 90px;
    margin: 0;
}

.habit-checkbox {
    display: flex;
    margin: 0;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #1C8CD6;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
}

.habit-checkbox:checked {
    background-color: #1C8CD6;
    border-color: #1C8CD6;
}

.habit-checkbox:checked::before {
    content: '✓';
    color: white;
    font-size: 10px;
}

.habit-list li {
    font-size: 0.9rem;
    color: #444;
}

.remove-habit-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 0.6rem;
    color: red;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 10px;
    text-align: center;
}

.remove-habit-button:hover {
    transform: scale(1.2);
    color: darkred;
}

.congrats-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    z-index: 1000;
    animation: fade-in-out 3s ease-in-out;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.due-today-message {
    position: fixed;
    top: 60%;
    left: 2%;
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #121417;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.due-today-message h2 {
    margin-bottom: 10px;
    color: #121417;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.due-today-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.due-today-list li {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
}

.plus {
    padding-right: 10px;
}

.streak-container {
    position: absolute;
    left: 1%;
    top: 18%;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.streak-message {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.homepage-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-h1 {
    margin-left: 2rem;
}

@media(max-width:360px) {
    .homepage-title {
        gap: 2rem;
    }
}