.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.habit-button {
    position: absolute;
    top: 120px;
    right: 30px;
    background-color: #1C8CD6;
    width: 240px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habit-button:hover {
    background-color: #1E40AF;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.habit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 30px;
    width: 400px;
    height: 500px;
    max-width: 90%;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.habit-h2 {
    margin: 0 0 15px;
    font-size: 32px;
    font-weight: bold;
    color: #121417;
    margin-bottom: 50px;
}

.habit-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #121417;
    font-size: 16px;
}

.habit-input,
.habit-select {
    margin-top: 10px;
    width: 415px;
    height: 56px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
}

.habit-button-form {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.habit-button-form {
    background-color: #fff;
    border: 1px solid #1c8cd6;
    color: #1c8cd6;
}

.habit-button-form:last-child {
    background-color: #1C8CD6;
    color: white;
}

.success-message {
    margin-top: 10px;
    padding: 10px;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-message {
    margin-bottom: 10px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.logout-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #e60000;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Arial", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.arrow-button {
    background-color: white;
    color: black;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.arrow-button:hover {
    background-color: #0056b3;
}

.calendar-week {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    width: 120px;
}

.day-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.streak-message {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.streak-message div {
    margin: 5px 0;
}

.habit-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.habit-list li {
    font-size: 0.9rem;
    color: #444;
}

.congrats-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    z-index: 1000;
    animation: fade-in-out 3s ease-in-out;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.due-today-message {
    position: fixed;
    top: 100px;
    right: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f8ff;
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.due-today-message h2 {
    margin-bottom: 10px;
    color: #007bff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.due-today-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.due-today-list li {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
}

.plus {
    padding-right: 10px;
}

.home-h1 {
    position: absolute;
    top: 100px;
    left: 30px;
}