html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

.login-page {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
}

.login-title {
    font-size: 24px;
    font-weight: 600;
    color: #121417;
    margin-bottom: 5px;
    text-align: center;
}

.login-subtitle {
    margin-top: 0;
    font-size: 14px;
    color: #637887;
    margin-bottom: 45px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    justify-content: center;
}

.form {
    text-align: left;
}

.login-label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #121417;
}

.login-input {
    width: 400px;
    height: 35px;
    padding: 10px;
    border: 1px solid #DBE0E5;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: none;
    outline: none;
    font-size: 16px;
}

.login-input:focus {
    border-color: #007bff;
    outline: none;
}

.login-button {
    margin: 24px auto 0;
    padding: 9px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #1C8CD6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 450px;
    height: 40px;
    display: block;
    transition: background-color 0.3s ease;
}